<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL dialect -->
		<property name="dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>
		<!-- only for test <property name="default_schema">mio_tmp</property> -->

		<!-- validate the database schema on startup -->
		<property name="hbm2ddl.auto">VALIDATE</property>

		<!-- hibernate mapping 
		<mapping resource="Batch.hbm.xml" />
        <mapping class="com.mic.exp.batch.model.Parameter" />-->
	</session-factory>
</hibernate-configuration>

